:root{
    --geom-caramel:#864c24;
    --button-hex: #C23441;
    --section-text: #000000;
    --card-color:#DFD8D2;
    --body-background: #F8F0EA;
    --just-white: #FFFAFA;
}
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: "Federo", sans-serif;
    } 
html{
    font-size: 70%;
    font-family: "Federo", sans-serif;
    scroll-behavior: smooth;
}
body{
    text-align: center;
    font-family: "Federo", sans-serif;
    background-color: var(--body-background);
}
a{
    text-decoration: none;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 65px;
    background-color: var(--geom-caramel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--just-white);
}
header a{
    color: var(--just-white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: lighter;
}
header a:hover{
    font-weight: bold;
}
header figure{
    padding-left: 12px;
}
header figure img{
    object-fit: contain;
    height: 55px;
    width: 55px;
}
header .header-nav{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .header-nav-right{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
header .header-nav-right li{
    width: 58px;
    text-align: center;
}
.logo-unam{
    width: 100px;
    display: flex;
    align-items: center;
}
.hero-container{
    width: 100%;
    background-color: #1a1414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 29px;
    margin-top: 72px;
}
.hero{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.hero ul{
    width: 600%;
    display: flex;
    animation: slider_change 35s infinite alternate;
    animation-timing-function: ease-in-out;
}
.hero li{
    width: 100%;
    list-style: none;
}
.hero img{
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
}

main h1{
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 21px;
    color: var(--section-text);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 30px;
}
.main-practicas,.main-fodos, .main-horarios{
    margin-bottom: 35px;
}
.container-cards-practicas, .container-cards-fodos, .container-cards-horarios{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-right: 5px;
}
.card-geom, .card-fodos{
    margin-top: 15px;
    background-color: var(--card-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.encuestas{
    position: absolute;
    top: -10px;
    color: var(--just-white);
    background-color: var(--geom-caramel);
    text-align: center;
    width: auto;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-geom .card-title,.card-fodos .card-title{
    position: absolute;
    top: -10px;
    color: var(--just-white);
    background-color: var(--geom-caramel);
    text-align: center;
    width: 130px;
    height: 42px;
    border-radius: 10px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    justify-content: center;
    margin-bottom: 35px;
}
.card-fodos .card-body .card-image{
    position: relative;
    width: 170px;
}
.card-fodos .card-body p{
    position: absolute;
    top: 164px;
    width: 100%;
    color: var(--just-white);
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: var(--geom-caramel);
    margin-top: -15px;
    margin-bottom: 15px;
}
.card-body .card-image{
    width: 170px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#card-body_image-topo2{
    margin-top:60px;
}
.card-body .card-button{
    width: 120px;
    height: 30px;
    background-color: var(--button-hex);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: var(--just-white);
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.card-body .card-button:hover{
    box-shadow: 0px 4px rgba(62, 98, 219, 0.3);
}
.encuestas_alumno{
    margin-top: 30px;
}
.reglamento{
    margin-top: 10px
}
.felicitaciones{
    margin-top: 50px;
}
.verificacion{
    margin-top: 15px;
}
footer{
    height: auto;
    width: 100%;
    background-color: var(--geom-caramel);
}
footer a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.4rem;
    color: var(--just-white);
}
.footer-top{
    display: flex;
    height: 50%;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--just-white);
}
.top-left{
    display: flex;
    align-items: center;
}
.social-icons{
    display: flex;
    list-style: none;
}
.social-icons li{
    margin: 0 10px;
}
footer img{
    width: 24px;
    height: 24px;
}
.top-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.top-links li{
    text-align: center;
    margin: 0 10px;
}
.footer-bottom{
    height: 50%;
}
.footer-bottom p{
    color: rgb(255,255,255);
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: lighter;
    text-align: center;
}

@keyframes slider_change{
    0%{
        margin-left: 0;
    }
    10%{
        margin-left: 0;
    }
    15%{
        margin-left: -100%
    }
    20%{
        margin-left: -100%;
    }
    25%{
        margin-left: -200%;
    }
    30%{
        margin-left: -200%
    }
    35%{
        margin-left: -300%;
    }
    40%{
        margin-left: -300%;
    }
    50%{ 
        margin-left: -400%;
    }
    65%{
        margin-left: -400%;
    } 
    75%{
        margin-left: -500%;
    }
    100%{
        margin-left: -500%;
    }

}
