header a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--just-white);
}
.header-nav{
    width: 50%;
}
.header-nav-right{
    width: 100%;
    justify-content: flex-end;
}
.header-nav-right li{
    margin-left: 15px;
}
.manual-practicas{
    overflow-x: unset;
    display: flex;
    justify-content: center;
}
.card-title-text{
    font-size: 1.2rem;
}
.card-body .card-button{
    font-size: 1.4rem;
}
.pdftag{
    font-size: 1.4rem;
    line-height: 1.6rem;
}
footer a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--just-white);
}