body{
    position: relative;
}
header a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--just-white);
}
.header-nav{
    width: 50%;
}
.header-nav-right{
    width: 100%;
    justify-content: flex-end;
}
.header-nav-right li{
    margin-left: 15px;
}
.pdftag{
    font-size: 1.4rem;
    line-height: 1.6rem;
}
footer a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: var(--just-white);
}
footer{
    position: absolute;
    bottom: -17%;
}