main{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main p{
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.2rem;
}
main ul{
    width: 100%;
    font-size: 1.8rem;
}